---
import {
  Card,
  CardContent,
  CardFooter,
  CardHeader,
  CardTitle,
} from '@components/ui/card';
import { Badge } from '@components/ui/badge';
import { Icon } from 'astro-icon/components';
const lang = Astro.url.pathname.split('/')[1] || 'en';
import { getTranslation } from '../../utils/i18n';
import { start } from 'dist/server/_@astrojs-ssr-adapter.mjs';
import { Button } from '@components/ui/button';
import { Github, Send } from 'lucide-react';

interface Props {
  title: string;
  description: string;
  image: string;
  git: string;
  url: string;
  stack: string;
}

const { title, description, image, git, url, stack } = Astro.props;
---

<Card>
  <CardHeader>
    <img src={image} alt={title} class="mb-3 rounded-md h-[180px]" />
    <CardTitle className="font-header text-4xl">{title}</CardTitle>
  </CardHeader>
  <CardContent className="max-h-44 min-h-44 px-6 py-0">
    <div class="overflow-hidden">
      <p class="mb-4 text-3xl line-clamp-2">{description}</p>
    </div>
    <small class="font-p font-semibold">Stack:</small>
    <div class="flex gap-2">
      {
        stack
          .split(',')
          .map((tec) => <Badge variant={'pillStack'}>{tec}</Badge>)
      }
    </div>
  </CardContent>
  <hr />
  <CardFooter
    className=" grid grid-cols-2 content-center justify-items-center pt-6"
  >
    <Button variant={'link'} size={'lg'} asChild>
      <a href={url} class="hover:scale-105 transition-transform duration-300"
        ><Github className="inline" /> Code</a
      >
    </Button>
    <Button variant={'link'} size={'lg'} asChild>
      <a href={url} class="hover:scale-105 transition-transform duration-300">
        <Send className="inline " /> Preview</a
      >
    </Button>
  </CardFooter>
</Card>
