---
interface Props {
  title: string;
  image?: string;
  description?: string;
}
const { title, image, description } = Astro.props;
const lang = Astro.url.pathname.split('/')[1] || 'en';
import '../styles/main.css';
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Portfolio Uberth Hernandez web developer."
    />

    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content={image} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta name="twitter:card" content={title} />
    <meta name="twitter:image" content={image} />
    <script src="https://t.contentsquare.net/uxa/6edb9af2a78f0.js"></script>

    <link rel="icon" type="image/ico" href="/favicon.ico" />
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
