---
import ShareButtons from '@components/blog/ShareButtons.astro';
import PostHeader from '@components/blog/PostHeader.astro';
import Navbar from '@components/layout/nav/NavBar';
import Layout from './Layout.astro';
import Footer from '@components/layout/Footer.astro';
const lang = Astro.url.pathname.split('/')[1] || 'en';

interface Props {
  frontmatter: any;
}
const { frontmatter } = Astro.props;

const postUrl = Astro.url;
console.log(frontmatter.image.url.split(' ')[0]);
---

<Layout
  title={frontmatter.title}
  image={frontmatter.image.url.split(' ')[0]}
  description={frontmatter.description}
>
  <Navbar lang={lang} client:load />
  <main
    class="m-auto min-h-dvh grid grid-rows-[1fr_auto] mx-[20px] md:mx-[100px]"
  >
    <section class="mt-[150px] md:mt-[120px]">
      <article>
        <PostHeader frontmatter={frontmatter} />
        <main
          class="my-16 md:my-24 grid md:grid-cols-[250px_auto_250px] font-p text-3xl leading-[30px]"
        >
          <section class="text-left mb-6">
            <ShareButtons urlToShare={postUrl.pathname} />
          </section>
          <section>
            <div
              class="prose text-3xl max-w-full prose-p:mb-8 prose-p:text-3xl"
            >
              <slot />
              <footer>
                <ShareButtons urlToShare={postUrl.href} />
              </footer>
            </div>
          </section>
          <section></section>
        </main>
      </article>
    </section>
  </main>
  <Footer />
</Layout>
<style>
  p {
    margin-bottom: 30px;
  }
</style>
